<div class="fullscreen-background" style="background-image: url('home3.jpg');">
    <div class="overlay"></div>
    <div class="overlay-text" #overlayText>
        <h1>Benefits of Natural Cow Milk</h1><br>
        <p>1. Rich in Essential Nutrients<br><br>
            Calcium: Fresh cow milk is an excellent source of calcium, which is vital for the development and maintenance of strong bones and teeth. It helps prevent osteoporosis and supports overall bone health.<br><br>
            Protein: It provides high-quality protein that supports muscle growth, repair, and overall bodily functions. Each cup of milk contains about 8 grams of protein.<br><br>
            Vitamins: Cow milk is rich in vitamins such as Vitamin D, which aids in calcium absorption, and Vitamin B12, which is crucial for red blood cell formation and nerve function.</p>
    </div>
</div>
