<div class="fullscreen-background" style="background-image: url('home4.jpg');">
    <div class="overlay"></div>
    <div class="overlay-text" #overlayText>
        <h1>Benefits of Farm Chicken</h1><br>
        <p>1. Higher Nutritional Value<br><br>
            Lean Protein: Fresh farm chicken is a rich source of high-quality, lean protein, essential for muscle growth, repair, and overall health.<br><br>
            Better Fat Profile: It often contains a better balance of fats, including higher levels of beneficial omega-3 fatty acids, compared to conventionally raised chicken.<br><br>
            Vitamins and Minerals: Fresh farm chicken can have higher levels of vitamins and minerals, such as vitamin B6, vitamin B12, niacin, and selenium.</p>
    </div>
</div>