<div class="home">
  <div class="container">
    <div class="home-content">
      <h1>Welcome to Our Jose Farm</h1>
      <p>Providing fresh, organic vegetables, cow milk, and farm-fresh eggs. Experience the best of nature, directly from our farm to your table.</p>
      <a routerLink="/products" class="btn">Explore Our Products</a>
    </div>
    <div class="home-image">
      <img src="home.png" alt="Farm Image" />
    </div>
  </div>
</div>
<app-home2></app-home2><br>
<app-home3></app-home3><br>
<app-home4></app-home4><br>
<app-home5></app-home5>

