body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #4caf50;
}

a:hover {
  color: #388e3c;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #388e3c;
}
